@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    min-height: 100vh;
    background-size:cover ;
    background-position: center center;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
}

h1{
    font-weight: normal;
    font-size:5rem;
    margin-top:5rem;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.big-text{
    font-size:5rem;
    font-weight: bold;
    line-height: 1;
    margin:1rem 4rem;

}

.countdown-box{
    text-align: center;
}

.countdown-box span{
    font-size:1.7rem;
}

